@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="graphDestination"></div>

@section scripts
{
    <script type="text/javascript">
        $.ajax("/2010-winter-olympics.csv", {
            success: function (data) {

                var svg = dimple.newSvg("#graphDestination", 800, 600);
                var csv = d3.csv.parse(data);
                console.table(csv);

                var chart = new dimple.chart(svg, csv);
                chart.addCategoryAxis("x", "Country");
                chart.addMeasureAxis("y", "Total");
                chart.addSeries(null, dimple.plot.bar);
                chart.draw();
            }
        });
    </script>
}